html [data-theme='dark'] {
    --button-text-color: #ffff;
    --button-background-color: #000000;
}

html [data-theme='light'] {
    --button-text-color: #6e2092;
    --button-background-color: #ffffff;
}